html,body{
  margin:0;
  padding:0
}

.App{
  border: 2px solid #C7D8E8;
  background-color: #E7F0EF;
  margin:auto;
  padding:10px;
}

.searchInput, .searchButton{
  padding: 10px;
  margin-right:10px;
}
.searchInput{
  width:80%;
}
.searchBar{
  width: 100%;
  margin-bottom: 15px;
}

.images{
  border:2px dashed #C7D8E8;
  display: inline-block;
  height:500px;
  width: 100%;
  overflow: scroll;
}
.images img{
  width:100px;
  height:100px;
  margin-right:10px;
  position: relative;
  top:5px;
  left:5px;
  cursor: pointer;
}

.term{
  color:white;
  background-color:#85C6FE;
  padding:20px;
  border-radius:15px;
  border:none;
  margin-top:15px;
  margin-left:10px;
  font-size:25px;
  margin-bottom:15px;
  width:200px;
  text-align:center;
  text-transform: uppercase
}

.groupChoose{
  width: 100%;
  display: flex;
  justify-content: center;
}

.groupPics{
  border:2px dashed #C7D8E8;
  height:300px;
  width: 100%;
}
.resImg{
  height: 100px;
  width: 100px;
  margin-right:10px;
}
